{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Title</title>
</head>
<body>
<div class="form">
    <form action="/article/add/" method="post">
            {% csrf_token %}
        <div class="form_row">
            <label for="title">Title</label>
            <input type="text" id="title" name="title">
        </div>
        <div class="form_row">
            <label for="text">Text</label>
            <textarea name="text" id="text" cols="30" rows="10"></textarea>
        </div>
        <div class="form_row">
            <label for="author">Author</label>
            <input type="text" id="author" name="author"></div>
        <div class="form_row">
            <input type="submit">
        </div>
    </form>
</div>
</body>
</html>