{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Title</title>
</head>
<body>
    <h1>Article</h1>
    <p>
        <a href="/">На главную</a>
    </p>
    <p>Title: {{ article.title }}</p>
    <p>Text: {{ article.text }}</p>
    <p>Author: {{ article.author }}</p>
</body>
</html>