{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Title</title>
</head>
<body>
    <h1>Article</h1>
    <p>
        <a href="/article/add">Добавить</a></p>
    {% for article in articles %}
        <p>Title: {{ article.title }}</p>
        <p>Author: {{ article.author }}</p>
        <p>
            <a href="/article/?pk={{ article.pk }}">Подробнее...</a>
        </p>
    {% endfor %}
</body>
</html>